NGM.exe
NGMDll.dll
NGMResource.dll
00000/
patch/
release/*
release/**/
!release/lua/
!release/serverlist_recent.xml
!release/release.revision.txt
!release/hotkey*.*
system/
!addons/
data/addon.ipf
data/animation.ipf
data/bg.ipf
data/bg_hi.ipf
data/bg_hi2.ipf
data/bg_hi3.ipf
data/bg_lightcell.ipf
data/bg_texture.ipf
data/binary.ipf
data/char_hi.ipf
data/char_texture.ipf
data/char_texture_low.ipf
data/deadslice.ipf
data/decal.ipf
data/effect.ipf
data/etc.ipf
data/font.ipf
data/ies.ipf
data/ies_ability.ipf
data/ies_client.ipf
data/ies_mongen.ipf
data/item_hi.ipf
data/item_texture.ipf
data/item_texture_low.ipf
data/language.ipf
data/script_client.ipf
data/scriptapi.ipf
data/shader.ipf
data/shared.ipf
data/sound.ipf
data/sprite.ipf
data/SumAni.ipf
data/templatepc.ipf
data/ui.ipf
data/xml.ipf
data/xml_client.ipf
data/xml_lang.ipf
data/xml_minigame.ipf
data/xml_sklmove.ipf
data/xml_tool.ipf
data/xml_tree.ipf
!data/